<input type="text" [(ngModel)]="searchText" (input)="filtrarLibros()" class="form-control mb-3" placeholder="Buscar por nombre o autor">
<!-- Tabla --><table class="table table-hover">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Nombre del libro</th>
        <th scope="col">Autor</th>
        <th scope="col">Lugar</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let libro of librosFiltrados">
        <th scope="row">{{ libro.id }}</th>
        <td>{{ libro.nombre }}</td>
        <td>{{ libro.autor }}</td>
        <td>{{ libro.lugar }}</td>
    </tr>
    </tbody>
</table>