<div class="container-fluid">
    <h1 class="d-flex justify-content-center align-content-center mt-4">Principios de diseño y arquitectura de software</h1>
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <h2>Libros recomendados</h2>
                <ul>
                    <li>Software Architecture in Practice. Third Edition. Len Bass, Paul Clements, Rick Kazman</li>
                    <li>Design It!  From Programmer to Software Architect. Michael Keeling. 2017</li>
                </ul>
            </div>
        </div>
    </div>
</div>
