<button (click)="back.emit()">⬅ Back to the list</button>
<p>(Spanish Version)</p>
<div class="container-fluid">
    <h2>Definiciones</h2>
    <div class="row">
        <div *ngFor="let card of words" class="col-lg-2 mb-3">
            <div class="card text-center p-4"
                [ngbPopover]="card.definicion"
                popoverTitle="Definición"
                triggers="click"
                container="body">
                <p class="m-0">{{ card.name }}</p>
            </div>
        </div>
    </div>

    <h2>Asignatura de Medida</h2>
    <p>Es un numero fraccionario que definen cuantos tiempos hay en un compas</p>
    <ul>
        <li>Simples</li>
        <li>Compuestos</li>
        <li>Amlgamado</li>
    </ul>
    <p>La medida por compas este tiene un numerado / denominador que detallan la métrica del compás:</p>
    <ul>
        <li><strong>Numerador:</strong> Cantidad de figurar en el compas</li>
        <li><strong>Denominador:</strong> Figura que representa en el compas
        <ul>
            <li>4 = Negra</li>
            <li>2 = Blanca</li>
            <li>8 = Corchea</li>
        </ul>
        </li>
    </ul>
    <ul ngbNav #nav="ngbNav" [(activeId)]="active" (activeIdChange)="onTabChange($event)" class="nav-tabs">
        <li [ngbNavItem]="1">
            <button ngbNavLink>A.M. Simple</button>
            <ng-template ngbNavContent>
                <p>Está representado por una subdivisión binaria.</p>
                <code>(2 - 3 - 4) →  (2/2, 3/4, 4/4, 2/4)</code>
                <div id="output"></div>
            </ng-template>
        </li>
        <li [ngbNavItem]="2">
            <button ngbNavLink>Two</button>
            <ng-template ngbNavContent>
                <p>
                    Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko
                    farm-to-table craft beer twee. Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts
                    ullamco ad vinyl cillum PBR. Homo nostrud organic, assumenda labore aesthetic magna delectus mollit. Keytar
                    helvetica VHS salvia yr, vero magna velit sapiente labore stumptown. Vegan fanny pack odio cillum wes anderson
                    8-bit, sustainable jean shorts beard ut DIY ethical culpa terry richardson biodiesel. Art party scenester
                    stumptown, tumblr butcher vero sint qui sapiente accusamus tattooed echo park.
                </p>
            </ng-template>
        </li>
        <li [ngbNavItem]="3">
            <button ngbNavLink>Three</button>
            <ng-template ngbNavContent>
                <p>
                    Sed commodo, leo at suscipit dictum, quam est porttitor sapien, eget sodales nibh elit id diam. Nulla facilisi.
                    Donec egestas ligula vitae odio interdum aliquet. Duis lectus turpis, luctus eget tincidunt eu, congue et odio.
                    Duis pharetra et nisl at faucibus. Quisque luctus pulvinar arcu, et molestie lectus ultrices et. Sed diam urna,
                    egestas ut ipsum vel, volutpat volutpat neque. Praesent fringilla tortor arcu. Vivamus faucibus nisl enim, nec
                    tristique ipsum euismod facilisis. Morbi ut bibendum est, eu tincidunt odio. Orci varius natoque penatibus et
                    magnis dis parturient montes, nascetur ridiculus mus. Mauris aliquet odio ac lorem aliquet ultricies in eget
                    neque. Phasellus nec tortor vel tellus pulvinar feugiat.
                </p>
            </ng-template>
        </li>
    </ul>

    <div [ngbNavOutlet]="nav" class="mt-2"></div>
</div>
