<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" routerLink="/">Navbar</a>

        <!-- Botón hamburguesa controlado por Angular -->
        <button class="navbar-toggler" type="button" (click)="isMenuOpen = !isMenuOpen" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Menú colapsable usando Angular -->
        <div class="collapse navbar-collapse" [ngClass]="{ 'show': isMenuOpen }" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link active" aria-current="page" routerLink="/" (click)="cerrarMenu()">Home</a>
                <a class="nav-link" routerLink="/music" (click)="cerrarMenu()">Apuntes Música</a>
                <li class="nav-item dropdown" (click)="cerrarMenu()">
                    <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Inventories
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" routerLink="/inventory">Books</a></li>
                        <li><a class="dropdown-item" href="#">Stationeries</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </li>
                <a class="nav-link disabled" aria-disabled="true">Disabled</a>
            </div>
        </div>
    </div>
</nav>
