<input type="text" [(ngModel)]="searchText" (input)="filterbooks()" class="form-control mb-3" placeholder="Search by Name or author">
<!-- Tabla --><table class="table table-hover">
    <thead>
    <tr>
        <th scope="col">Book Name</th>
        <th scope="col">Author</th>
        <th scope="col">Location</th>
        <th scope="col">Subject</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let book of jsonBooks">
        <td>{{ book.name }}</td>
        <td>{{ book.author }}</td>
        <td>{{ book.location }}</td>
        <td>{{ book.subject }}</td>
    </tr>
    </tbody>
</table>